<!DOCTYPE html>
<html>
  <head>
    <title>{{page_title}}</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" media="all" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class='back_bar'><a href='/pjs/'>&lt; back</a></div>
    <h2>'{{repo.name}}' Test Report</h2>
    <p>Last Test: <b>{{mtime}}</b></p>
    <div class='report_content'>
      <pre>{{report_content}}</pre>
    </div>
  </body>
</html>
